core/build/
core/build-wasm/
javascript/wasm/
javascript/dist/
javascript/node_modules/
python/build/
python/dist/
python/*.egg-info/

.DS_Store

python/cozip/_lib/cozip.dylib
julia/Manifest.toml
dist/
python/__pycache__/

python/cozip/__pycache__/

python/tests/__pycache__/
